# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are listed and summarized, for a better comprehension, learning, and practice.

Objectives:
- List popular languages for Data Science

- List some of the most commonly used libraries in Data Science

- Use and evaluate arithmetic expressions in Python

- Use and evaluate tables, ordered and unordered lists in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. matplotlib
3. Seaborn
4. Pandas
5. NumPy

| Data Science Tools |
| -------------------|
| ApacheSpark |
| Hadoop |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Adriana Guill√©n